<h2>Your Total Beers: {{beersCount}}</h2>

<ul class="beers-listing">
  
  {{#each beer in beers}}
	  <li>
	    {{#link-to "beer" beer}}
	      {{beer.name}}
	    {{/link-to}}
	  </li>
	{{/each}}

</ul>

{{outlet}}